<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JN.ESB.Scheduler.DataAccess.Properties.Settings.EsbSchedulerDBConnectionString" connectionString="Data Source=10.30.4.52;Initial Catalog=EsbSchedulerDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
