<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="ServiceDirectoryDB" connectionString="Data Source=.;Initial Catalog=EsbServiceDirectoryDB;Integrated Security=False;User ID=soa;Password=123456;" providerName="System.Data.SqlClient"/>
    <add name="EsbAuditDB" connectionString="Data Source=.;Initial Catalog=EsbAuditDB;Integrated Security=False;User ID=soa;Password=123456;" providerName="System.Data.SqlClient"/>
    <add name="EsbExceptionDb" connectionString="Data Source=.;Initial Catalog=EsbExceptionDb;Integrated Security=False;User ID=soa;Password=123456;" providerName="System.Data.SqlClient"/>
    <add name="EsbMonitorDB" connectionString="Data Source=.;Initial Catalog=EsbMonitorDB;Integrated Security=False;User ID=soa;Password=123456;" providerName="System.Data.SqlClient"/>
</connectionStrings>