#roundPanelContent .commandButtonsBlock {
    padding-top: 8px;
    text-align: center;
}

#roundPanelContent div.separator {
    width: 100%;
    text-align: center;
}

#roundPanelContent div.separator hr {
    width: 90%;
    border-top-color: #d5d5d5;
}

#roundPanelContent a {
    font-family: Tahoma;
    font-size: 9pt;
}

#roundPanelContent a, #roundPanelContent a:visited { 
    color: #313131;
}

#roundPanelContent a:hover { 
    color: #888;
}