/* -- ASPxSpellChecker -- */
.dxwscLoadingDiv_BlackGlass
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxwscCheckedTextContainer_BlackGlass
{
	background-color: white;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	border: solid 1px #a0a0a0;
	vertical-align:top;
	overflow:auto;
	width: 340px;
	height: 110px;
	padding: 5px;
}
.dxwscErrorWord_BlackGlass
{
	background: url('scErrorUnderline.gif') bottom;
	background-repeat:repeat-x;
	padding-bottom: 3px;

	font-weight: bold;
}
.dxwscLoadingPanel_BlackGlass
{
	border:solid 1px #D3D3D3;
	background-color: #E3E3E1;
	font: 9pt Tahoma;
	color: #303030;
}
.dxwscLoadingPanel_BlackGlass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

/*-- Dialog Forms --*/


.leftBottomButton {
	padding-top: 10px;
	padding-bottom: 10px;
}

.rightBottomButton 
{
	padding: 10px 15px 10px 10px;
	width: 100px;	
}

.footerBackground 
{
	background: #C9D6DE url('pcItemFooter.gif') repeat-x top center;
}

#mainSpellCheckFormTable 
{
	width: 480px;
}
#mainSpellCheckFormTable .contentSCFormContainer
{
	padding:15px 15px 0px 15px;
}

#spellCheckForm .buttonsTable 
{
	width: 100px;
}

#spellCheckForm .buttonTableContainer
{
	padding-left: 10px;
	padding-top: 5px;
}

#spellCheckForm .checkedDivContainer 
{
	overflow: hidden;
	padding-top:5px;
}

#spellCheckForm .changeToText
{
	padding-top: 15px;
}

#spellCheckForm .verticalSeparator 
{
	padding-top: 5px;
}

#spellCheckForm .listBoxContainer 
{
	padding-top:5px;
	padding-bottom:20px;
}

#mainSpellCheckOptionsFormTable 
{
	width: 400px;
}

#mainSpellCheckOptionsFormTable .contentSCOptionsFormContainer
{
	padding:15px 15px 0px 15px;
}


#optionsForm .languagePanel 
{
	padding-top:10px;
	padding-bottom: 20px;
}