<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UDDI.Core.DataAccess.Properties.Settings.ServiceDirectoryDbConnectionString2" connectionString="Data Source=MESSQL2005CLS2\MES2;Initial Catalog=ServiceDirectoryDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
