<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exception.DataAccess.Properties.Settings.EsbExceptionDbConnectionString" connectionString="Data Source=MESSQL2005CLS2\MES2;Initial Catalog=EsbExceptionDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Exception.DataAccess.Properties.Settings.EsbAuditDBConnectionString" connectionString="Data Source=MESSQL2005CLS2\MES2;Initial Catalog=EsbAuditDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
