<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--缓存有效期。
        -2  关闭缓存；
        -1  非独占数据库，有外部系统操作数据库，使用请求级缓存；
         0  永久静态缓存；
        >0  静态缓存时间，单位是秒；
        默认-1。-->
    <add key="XCode.Cache.Expiration" value="-2"/>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
    <add key="XCode.SQLPath" value="SqlLog"/>
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <add key="XCode.Negative.CheckOnly" value="true"/>
    <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
    <add key="XCode.Schema.Enable" value="false"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Schema.NoDelete" value="true"/>
    <!--要排除的链接名，多个用逗号分隔，默认空。-->
    <add key="XCode.Schema.Exclude" value=""/>
      
    <!--连接字符串外部文件,如果该配置项有值则优先使用，否则使用Config中的connectionStrings配置节-->
    <add key="XCode.ConnConfigFile" value="../../Config/Database.config" />
  </appSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--提高传输数据上限至20M-->
    <httpRuntime requestValidationMode="2.0" executionTimeout="240" maxRequestLength="20480"/>
    <pages validateRequest="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>