<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NewLife.ServiceProvider" value="NewLife.Model.ServiceProvider"/>

    <add key="NewLife.Debug" value="false"/>
    <add key="NewLife.LogPath" value=""/>
    <add key="NewLife.TempPath" value=""/>

     <add key="NewLife.Thread.Debug" value="false"/>

    <add key="NewLife.StreamHandler_Xxx" value=""/>
    <add key="NewLife.StreamHandler_Message" value="NewLife.Messaging.MessageStreamHandler, NewLife.Core"/>

    <add key="NewLife.Reflection.TypeResolverProvier" value="NewLife.Reflection.TypeResolverProvier"/>

    <add key="NewLife.CommonEntity.CompressFiles" value=".aspx,.axd,.js,.css"/>


    <add key="NewLife.Message.Debug" value="false"/>
    <add key="NewLife.Message.DumpStreamWhenError" value="false"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="GET,POST" path="Message.ashx" type="NewLife.IO.StreamHttpHandler, NewLife.Core"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorModule" type="NewLife.Web.ErrorModule,NewLife.Core"/>
      <add name="CompressionModule" type="NewLife.Web.CompressionModule,NewLife.Core"/>
      <add name="RunTimeModule" type="NewLife.Web.RunTimeModule,NewLife.Core"/>
    </httpModules>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
