<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--缓存有效期。
        -2	关闭缓存；
        -1	非独占数据库，有外部系统操作数据库，使用请求级缓存；
         0	永久静态缓存；
        >0	静态缓存时间，单位是秒；
        默认-1。-->
        <add key="XCode.Cache.Expiration" value="60"/>
        <!--是否启用全局调试。默认为不启用-->
        <add key="NewLife.Debug" value="true"/>
        <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
        <add key="XCode.SQLPath" value="SqlLog"/>
        <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
        <add key="XCode.Debug" value="true"/>
        <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
        <add key="XCode.Negative.CheckOnly" value="true"/>
        <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
        <add key="XCode.Schema.Enable" value="false"/>
        <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
        <add key="XCode.Schema.NoDelete" value="true"/>
        <!--要排除的链接名，多个用逗号分隔，默认空。-->
        <add key="XCode.Schema.Exclude" value=""/>
        
        <!--设置ESB审计消息队列名称-->
        <add key="ESB.Queue.AuditName" value=".\Private$\EsbAuditQueue"/>
        <add key="ESB.Queue" value="192.168.56.2:5672:soa:123456"/>
    </appSettings>
    <connectionStrings>
        <add name="ServiceDirectoryDB" connectionString="Data Source=.;Initial Catalog=EsbServiceDirectoryDB;Integrated Security=False;User ID=soa;Password=123456;" providerName="System.Data.SqlClient"/>
        <add name="EsbAuditDB" connectionString="Data Source=.;Initial Catalog=EsbAuditDB;Integrated Security=False;User ID=soa;Password=123456;" providerName="System.Data.SqlClient"/>
        <add name="EsbExceptionDb" connectionString="Data Source=.;Initial Catalog=EsbExceptionDb;Integrated Security=False;User ID=soa;Password=123456;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
