/* -- ASPxNavBar -- */
.dxnbControl_DefaultNavigation
{
	font: 9pt Tahoma;
	color: Black;
	background-color: #E0E0E0;
	padding: 3px 0px;
}
.dxnbControl_DefaultNavigation a
{
	color: #005BC2; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_DefaultNavigation
{
    font: 11px Tahoma;
	color: Black;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_DefaultNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_DefaultNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_DefaultNavigation
{
    background-color: #D1D1D1;
    border: Solid 1px #c4C4C4;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_DefaultNavigation
{
    font: 11px Tahoma;
	color: Black;

	background-color: #CACACA;
	font-weight: bold;

	border: Solid 1px #A8A8A8;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_DefaultNavigation table
{
    font: 11px Tahoma;
	color: Black;
	font-weight: bold;
}
.dxnbGroupHeader_DefaultNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_DefaultNavigation
{
    font: 11px Tahoma;
	background-color: #ECECEC;
	background-image: url('nbGroupContentBackground.gif');
    background-repeat: repeat-x;	
	border: 0px;
	border-top: Solid 1px #AFAFAF;
	border-bottom: Solid 1px #AFAFAF;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_DefaultNavigation
{
    color: #005BC2;
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_DefaultNavigation
{
    color: #005BC2;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_DefaultNavigation
{
	background-color: #d8d8d8;
}
