<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="ESB.MonitorCenter.Uri" value="192.168.56.2:5556"/>
        <add key="ESB.LocalDataPath" value="ESBData"/>
        <add key="EmailSettingCfg" value="192.168.203.86:587,erpnet/erpnet"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEsbAction" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ProviderService/Wcf/ESB_WCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEsbAction"
                contract="WCF.IEsbAction" name="BasicHttpBinding_IEsbAction" />
        </client>
    </system.serviceModel>
</configuration>
