<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JN.ESB.Scheduler.Job.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JN.ESB.Scheduler.Job.Properties.Settings>
            <setting name="JN_ESB_Scheduler_Job_ESB_Core_Service_Bus_MainBus_ReceiveSendPort_EN" serializeAs="String">
                <value>http://localhost/EsbCoreEN/Core_Service_Bus_MainBus_ReceiveSendPort_EN.asmx</value>
            </setting>
            <setting name="JN_ESB_Scheduler_Job_SCHD_SchedulerService" serializeAs="String">
                <value>http://localhost/EsbScheduler/SchedulerService.asmx</value>
            </setting>
        </JN.ESB.Scheduler.Job.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
