<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="XPOServerMode" connectionString="XpoProvider=MSSqlServer;data source=(local);user id=servermodeprojects;password=smp$;initial catalog=ServerModeGridProjects;Persist Security Info=true"/>
    <add name="XPOServerMode2005" connectionString="XpoProvider=MSSqlServer2005CacheRoot;data source=(local);user id=servermodeprojects;password=smp$;initial catalog=ServerModeGridProjects;Persist Security Info=true"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name="adAuthCookie" timeout="10" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <httpRuntime requestValidationMode="2.0"/>
    <globalization culture="zh-cn" uiCulture="zh-cn"/>
    <pages validateRequest="false" theme="BlackGlass" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off"/>
    <siteMap>
      <providers>
        <add name="FooterMenuSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/FooterMenu.sitemap"/>
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!-- DevExpress -->
        <add assembly="DevExpress.Data.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Utils.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Xpo.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraPrinting.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <!--<add assembly="DevExpress.XtraBars.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=79868b8147b5eae4"/>
        
        <add assembly="DevExpress.Charts.v9.1.Core, Version=9.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v9.1, Version=9.1.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v9.1.Web, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />-->
        <add assembly="DevExpress.Web.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxGridView.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxGridView.v9.1.Export, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxEditors.v9.1, Version=9.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>
  </system.web>
  <location path="SSO.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="text/json"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    <!--<add key="ESB.MonitorCenter.Uri" value="192.168.56.2:5556"/>-->
    <!--<add key="ESB.MonitorCenter.Uri" value="10.100.20.214:5556"/>-->
    <add key="JN.Esb.Portal.ServiceMgt.服务目录服务.注册服务目录服务" value="http://localhost/EsbUDDI/注册服务目录服务.asmx"/>
    <add key="JN.Esb.Portal.ServiceMgt.异常服务.错误消息服务" value="http://localhost/EsbException/错误消息服务.asmx"/>
    <add key="JN.Esb.Portal.ServiceMgt.重新发送消息服务.Core_Service_Bus_ReProcessBus_ReProcessPort" value="http://localhost/EsbCore/Core_Service_Bus_ReProcessBus_ReProcessPort.asmx"/>
    <add key="JN.Esb.Portal.ServiceMgt.审计服务.AuditServcie" value="http://localhost/EsbAudit/AuditServcie.asmx"/>
    <add key="JN.Esb.Portal.ServiceMgt.调度服务.SchedulerService" value="http://localhost/EsbScheduler/SchedulerService.asmx"/>
    <add key="JN.Esb.Portal.ServiceMgt.日志分析.AuditAnalyseService" value="http://localhost/EsbAudit/AuditAnalyseService.asmx"/>
    <add key="JN.Esb.Portal.ServiceMgt.总线单向服务.Core_Service_Bus_OnewayMainBus_OneWayReceive" value="http://localhost/EsbCore/Core_Service_Bus_OnewayMainBus_OneWayReceive.asmx"/>
    <add key="ESB.AuditService" value="http://192.168.56.1/CallCenter/BasicService/AuditService.asmx"/>
    <add key="ESB.UddiService" value="http://192.168.56.1/CallCenter/BasicService/UddiService.asmx"/>
    <add key="ESB.ExceptionService" value="http://192.168.56.1/CallCenter/BasicService/ExceptionService.asmx"/>
    <add key="ESB.ContractSerivce" value="http://192.168.56.1/CallCenter/BasicService/ContractSerivce.asmx"/>
    <add key="ESB.SystemSettingService" value="http://192.168.56.1/CallCenter/BasicService/SystemSettingService.asmx"/>
    <add key="ESB.MonitorStatService" value="http://192.168.56.1/CallCenter/BasicService/MonitorStatService.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>